<div class="mt-4">
  <h3>Khoa hoc cua toi</h3>
  <a href="/me/trash/courses">Thung rac</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ten khoa hoc</th>
        <th scope="col">Trinh do</th>
        <th scope="col">Thoi gian tao</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/edit/{{this._id}}" class="btn btn-link">Sua</a>
            <a href="/courses/delete/{{this._id}}" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course">Xoa</a>
          </td>
        </tr>

      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Ban chua dang khoa hoc nao
          <a href="/courses/create">Dang khoa hoc</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="delete-course"class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ban chac chan muon xoa khoa hoc nay?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>

<form id="form-delete" method="POST">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var id;
    var formData = document.querySelector('#form-delete');
    $('#delete-course').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      id = button.data('id') // Extract info from data-* attributes
    });

    $('#btn-delete').on('click', function() {
      formData.setAttribute('action', `/courses/delete/${id}?_method=DELETE`);

      formData.submit();
    });
  }, false);

</script>
